@media only screen and (max-width: 1920px) {

    .header-container .logo {
        float: left;
        margin-right: 20px;
        display: inline-block;
    }

    .header-container::after {
        clear: both;
        content: "";
        display: table;
    }

    .header-container .header-title {
        text-transform: uppercase;
        position: relative;
        top: -14px;
        display: inline-block;
    }

    .header-container .nav-menu {
        float: right;
        position: relative;
        top: 12px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 500px){
    .header-container .nav-menu{
        position: static;
        float: none;
        text-align: center;
    }
}