{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Отзывы пользователей</title>
    <link rel="stylesheet" href="{% static 'bot/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'bot/css/adaptive.css'%}" type="text/css">
</head>
    <body>
        <header>
            <div class="header-container">

                <div class="logo">
                    <img width="50" height="50" src="{% static 'bot/img/telegram.png' %}" alt="">

                    <div class="header-title">
                    Чат-бот ИНЭП <b>ЮФУ</b>
                    </div>

                </div>

                <div class="nav-menu">
                    <a href="/admin">Войти как админ</a>
                </div>

            </div>
        </header>
        <section>
            <div class="content">
                <div class="container">
                    <h1>Отзывы Telegram бота</h1>

                    {% if response.all.count == 0 %}
                        <p class="no-data-msg">На данный момент нет отзывов <br>¯\_(ツ)_/¯</p>
                        <style>
                            .content{
                                width: 80%;
                                {#height: 50px;#}
                            }
                        </style>

                    {% else %}
                        {% for data in response.all %}
                        <details class="review-list">
                            <summary>
                                Отзыв от <strong>{{data.username}}</strong>
                                <span class="review-date">{{ data.created_at }}</span>
                            </summary>
                            <!- содержимое отзыва -->
                                <p class="review-text">
                                    &#10077;{{ data.review }}&#10078;
                                </p>
                        </details>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </section>
    </body>
</html>